.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* Ahora el fondo y el color del texto dependen del tema */
  background-color: transparent;;
  color: var(--text-color);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--primary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animación de Fade-In */
.fade-in {
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ... tus otros estilos de App.css ... */

/* El velo negro que reemplaza al componente SplashScreen */
.splash-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #040316;
  z-index: 9998;
}


/* Estilos para el logo que ahora es persistente */
.persistent-logo {
  /* Lo posicionamos en el centro de la pantalla */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* El truco para centrar perfectamente */
  
  width: 350px;
  z-index: 9999; /* Siempre por encima de todo */
  
  /* La misma transición suave de antes */
  transition: transform 1.5s cubic-bezier(0.65, 0, 0.35, 1), width 1.5s cubic-bezier(0.65, 0, 0.35, 1);
}

/* Estado final del logo, se mueve hacia arriba y se encoge */
.persistent-logo.finished {
  width: 123px;
  /* Ahora se mueve desde el centro (-50%) hasta la parte superior */
  transform: translate(-103vh, -50vh);
}

/* ...tu css existente... */

/* Estilos para el botón de cambio de tema */
.theme-toggle-button {
  position: fixed; /* Lo posicionamos de forma fija en la pantalla */
  top: 20px;
  right: 30px;
  z-index: 10000; /* Asegura que esté por encima de todo, incluso del borde */

  /* Estilos para que se vea bien */
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Lo hacemos redondo */
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

.theme-toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}